In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("youtube_comment1.csv")
df

,comment_id,video_title,author,comment,date,sentiment
0,UgxcAjCnmJ4r96df2Bh4AaABAg,Ahsoka | Teaser Trailer | Disney+,FM zigzag,this why mario better not be anything but mari...,2023-04-23,negative
1,UgxvVMNihEXLKUEHikN4AaABAg,Obi-Wan Kenobi | Official Trailer | Disney+,Scott Mantle,this series is terrible whoever wrote the stor...,2023-02-28,positive
2,UgxTxwPQq5ZjRgDVfAN4AaABAg,Star Wars: The Force Awakens Trailer (Official),Tabari Enoch,for me the music in this had me in tear remind...,2023-03-19,neutral
3,UgzokscjPkto3nv9XJZ4AaABAg,Andor | Official Trailer | Disney+,Vincent Valentine,i destroyed a planet i let the starship crew o...,2023-01-11,negative
4,UgzwqtAEeDdUOJQw7cR4AaABAg,Andor | Official Trailer | Disney+,richard johnson,do you know why the hero of andor is a man bec...,2022-09-23,positive
...,...,...,...,...,...,...
668,Ugw0Um3iBM2t99hWKqN4AaABAg,Star Wars: The Force Awakens Trailer (Official),nrs10001,this trailer gave me so much hope i despise th...,2023-04-15,positive
669,UgxtEA167B4TtyeksSh4AaABAg,Obi-Wan Kenobi | Official Trailer | Disney+,NJ,read a lot of purest sw b around this series a...,2022-12-02,positive
670,UgzwJqYDfxcfM4VDIQF4AaABAg,The Book of Boba Fett | Official Trailer | Dis...,Korey M,we should cast a year old fat dude a this ba w...,2022-06-29,negative
671,UgyJehM4C2ffLU6ja2x4AaABAg,Star Wars Episode I: The Phantom Menace - Trailer,alfredo walter gutierrez maldonado,i can't wait to watch this in the theater i be...,2022-09-04,positive
672,UgzByYJZnftSpR0Mb6B4AaABAg,Star Wars: The Rise of Skywalker | Final Trailer,Than0sCr33per,it strange yet pretty funny how the trailer we...,2023-01-20,positive

In [3]:
df.head()

,comment_id,video_title,author,comment,date,sentiment
0,UgxcAjCnmJ4r96df2Bh4AaABAg,Ahsoka | Teaser Trailer | Disney+,FM zigzag,this why mario better not be anything but mari...,2023-04-23,negative
1,UgxvVMNihEXLKUEHikN4AaABAg,Obi-Wan Kenobi | Official Trailer | Disney+,Scott Mantle,this series is terrible whoever wrote the stor...,2023-02-28,positive
2,UgxTxwPQq5ZjRgDVfAN4AaABAg,Star Wars: The Force Awakens Trailer (Official),Tabari Enoch,for me the music in this had me in tear remind...,2023-03-19,neutral
3,UgzokscjPkto3nv9XJZ4AaABAg,Andor | Official Trailer | Disney+,Vincent Valentine,i destroyed a planet i let the starship crew o...,2023-01-11,negative
4,UgzwqtAEeDdUOJQw7cR4AaABAg,Andor | Official Trailer | Disney+,richard johnson,do you know why the hero of andor is a man bec...,2022-09-23,positive

In [6]:
df = df.drop(columns = "comment_id")

In [7]:
df.head()

,video_title,author,comment,date,sentiment
0,Ahsoka | Teaser Trailer | Disney+,FM zigzag,this why mario better not be anything but mari...,2023-04-23,negative
1,Obi-Wan Kenobi | Official Trailer | Disney+,Scott Mantle,this series is terrible whoever wrote the stor...,2023-02-28,positive
2,Star Wars: The Force Awakens Trailer (Official),Tabari Enoch,for me the music in this had me in tear remind...,2023-03-19,neutral
3,Andor | Official Trailer | Disney+,Vincent Valentine,i destroyed a planet i let the starship crew o...,2023-01-11,negative
4,Andor | Official Trailer | Disney+,richard johnson,do you know why the hero of andor is a man bec...,2022-09-23,positive

In [8]:
df = df.drop(columns = "video_title")

In [10]:
columns_to_remove = ['author','date']
df = df.drop(columns = columns_to_remove)

In [11]:
df.head()

                                             comment sentiment
0  this why mario better not be anything but mari...  negative
1  this series is terrible whoever wrote the stor...  positive
2  for me the music in this had me in tear remind...   neutral
3  i destroyed a planet i let the starship crew o...  negative
4  do you know why the hero of andor is a man bec...  positive

In [16]:
file_path = ('youtube_comments1.xlsx')
df.to_excel(file_path)

In [17]:
df.head()

                                             comment sentiment
0  this why mario better not be anything but mari...  negative
1  this series is terrible whoever wrote the stor...  positive
2  for me the music in this had me in tear remind...   neutral
3  i destroyed a planet i let the starship crew o...  negative
4  do you know why the hero of andor is a man bec...  positive

In [21]:
df = pd.read_csv("youtube_comment.csv")
df

,Name,Lecture,Comment,Time,Likes,Reply Count,Sentiments
0,@abihayyyy,1,Great great sir 👍,2024-01-18T15:48:13Z,0,0,positive
1,@lifesolutions283,1,Sir ap se kese contact kia jae,2024-01-18T07:08:03Z,0,0,neutral
2,@user-cl9hn2rm7r,1,Great work keep it up,2024-01-18T02:30:55Z,0,0,positive
3,@arcollection5965,1,Sir g ma ya freelance krna chati ho but mujy ...,2024-01-18T00:53:57Z,0,0,neutral
4,@HusnainHayyat-cw4rd,1,"sir, i husnain, aap ko faisalabad se aik bril...",2024-01-17T06:43:35Z,0,0,positive
...,...,...,...,...,...,...,...
4517,@munazzaabdurraheem2856,35,Thnakiioo and save u and your team from evil eyes,2023-09-27T18:10:19Z,0,0,positive
4518,@munazzaabdurraheem2856,35,You are good teacher 😊consistently I don&#39;t...,2023-09-27T18:09:33Z,3,0,positive
4519,@jawadhussain78611,35,Sir love you....,2023-09-27T16:43:19Z,1,0,positive
4520,@javaria_Ibrahim,35,I am javaria Sir hamari duayen apke sath hain ...,2023-09-27T16:32:24Z,1,0,positive
4521,@user-mx2jg1bg1t,35,Assalam o alikum sir ! It&#39;s been a great j...,2023-09-27T16:20:40Z,3,0,positive

In [22]:
df.head()

,Name,Lecture,Comment,Time,Likes,Reply Count,Sentiments
0,@abihayyyy,1,Great great sir 👍,2024-01-18T15:48:13Z,0,0,positive
1,@lifesolutions283,1,Sir ap se kese contact kia jae,2024-01-18T07:08:03Z,0,0,neutral
2,@user-cl9hn2rm7r,1,Great work keep it up,2024-01-18T02:30:55Z,0,0,positive
3,@arcollection5965,1,Sir g ma ya freelance krna chati ho but mujy ...,2024-01-18T00:53:57Z,0,0,neutral
4,@HusnainHayyat-cw4rd,1,"sir, i husnain, aap ko faisalabad se aik bril...",2024-01-17T06:43:35Z,0,0,positive

In [23]:
to_remove = ['Name','Lecture','Time','Likes',"Reply Count"]

In [24]:
df = df.drop(columns=to_remove)

In [25]:
df.head()

                                             Comment Sentiments
0                                  Great great sir 👍   positive
1                     Sir ap se kese contact kia jae    neutral
2                              Great work keep it up   positive
3  Sir g ma ya freelance  krna chati ho but mujy ...    neutral
4  sir,  i husnain, aap ko faisalabad se aik bril...   positive

In [32]:
condition = df['Sentiments'] == 'not'
df

Empty DataFrame
Columns: [Comment, Sentiments]
Index: []

In [30]:
df = df[~condition]

C:\Users\Legion\AppData\Local\Temp\ipykernel_2068\2166381937.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[~condition]

In [31]:
df

Empty DataFrame
Columns: [Comment, Sentiments]
Index: []

In [33]:
df = pd.read_csv("youtube_comment.csv")

In [34]:
df

,Name,Lecture,Comment,Time,Likes,Reply Count,Sentiments
0,@abihayyyy,1,Great great sir 👍,2024-01-18T15:48:13Z,0,0,positive
1,@lifesolutions283,1,Sir ap se kese contact kia jae,2024-01-18T07:08:03Z,0,0,neutral
2,@user-cl9hn2rm7r,1,Great work keep it up,2024-01-18T02:30:55Z,0,0,positive
3,@arcollection5965,1,Sir g ma ya freelance krna chati ho but mujy ...,2024-01-18T00:53:57Z,0,0,neutral
4,@HusnainHayyat-cw4rd,1,"sir, i husnain, aap ko faisalabad se aik bril...",2024-01-17T06:43:35Z,0,0,positive
...,...,...,...,...,...,...,...
4517,@munazzaabdurraheem2856,35,Thnakiioo and save u and your team from evil eyes,2023-09-27T18:10:19Z,0,0,positive
4518,@munazzaabdurraheem2856,35,You are good teacher 😊consistently I don&#39;t...,2023-09-27T18:09:33Z,3,0,positive
4519,@jawadhussain78611,35,Sir love you....,2023-09-27T16:43:19Z,1,0,positive
4520,@javaria_Ibrahim,35,I am javaria Sir hamari duayen apke sath hain ...,2023-09-27T16:32:24Z,1,0,positive
4521,@user-mx2jg1bg1t,35,Assalam o alikum sir ! It&#39;s been a great j...,2023-09-27T16:20:40Z,3,0,positive

In [35]:
to_remove = ['Name','Lecture','Time','Likes','Reply Count']

In [36]:
df = df.drop(columns=to_remove)

In [37]:
df.head()

                                             Comment Sentiments
0                                  Great great sir 👍   positive
1                     Sir ap se kese contact kia jae    neutral
2                              Great work keep it up   positive
3  Sir g ma ya freelance  krna chati ho but mujy ...    neutral
4  sir,  i husnain, aap ko faisalabad se aik bril...   positive

In [38]:
condition = df['Sentiments'] == 'not'

In [39]:
df = df[~condition]

In [40]:
df

                                                Comment Sentiments
0                                     Great great sir 👍   positive
1                        Sir ap se kese contact kia jae    neutral
2                                 Great work keep it up   positive
3     Sir g ma ya freelance  krna chati ho but mujy ...    neutral
4     sir,  i husnain, aap ko faisalabad se aik bril...   positive
...                                                 ...        ...
4517  Thnakiioo and save u and your team from evil eyes   positive
4518  You are good teacher 😊consistently I don&#39;t...   positive
4519                                   Sir love you....   positive
4520  I am javaria Sir hamari duayen apke sath hain ...   positive
4521  Assalam o alikum sir ! It&#39;s been a great j...   positive

[4044 rows x 2 columns]

In [41]:
condition2 = df['Sentiments'] == 'the'

In [46]:
df = df[~condition2]

In [44]:
df

                                                Comment Sentiments
0                                     Great great sir 👍   positive
1                        Sir ap se kese contact kia jae    neutral
2                                 Great work keep it up   positive
3     Sir g ma ya freelance  krna chati ho but mujy ...    neutral
4     sir,  i husnain, aap ko faisalabad se aik bril...   positive
...                                                 ...        ...
4517  Thnakiioo and save u and your team from evil eyes   positive
4518  You are good teacher 😊consistently I don&#39;t...   positive
4519                                   Sir love you....   positive
4520  I am javaria Sir hamari duayen apke sath hain ...   positive
4521  Assalam o alikum sir ! It&#39;s been a great j...   positive

[4044 rows x 2 columns]

In [47]:
file_path = ('youtube_comments123.xlsx')
df.to_excel(file_path)

In [49]:
df = pd.read_csv('debate1.csv')

In [51]:
df

     Unnamed: 0                                           comments  sentiment
0             0  dude joe bidens mouth looks suspiciously deep ...          0
1             1  funny way president praises unfounded claims e...          1
2             2  orange faced man utterly utterly clueless clim...          1
3             3  biden new president united states 2021 2025 co...          0
4             4  biden new president united states 2021 2025 co...          0
..          ...                                                ...        ...
495         495  dont put drug related criminals jail biden say...          1
496         496  stop go engineering weather stop chemtrailing ...          0
497         497  biden youre big liar trump yeah joe lie dont l...          0
498         498  corona planted china country beat everyone pun...          0
499         499  bible says wear wolves sheeps clothing point b...          0

[500 rows x 3 columns]

In [55]:
df = df.drop(columns="Unnamed: 0")

In [56]:
df.head()

                                            comments  sentiment
0  dude joe bidens mouth looks suspiciously deep ...          0
1  funny way president praises unfounded claims e...          1
2  orange faced man utterly utterly clueless clim...          1
3  biden new president united states 2021 2025 co...          0
4  biden new president united states 2021 2025 co...          0

In [57]:
df = df.drop_duplicates()

In [58]:
df

                                              comments  sentiment
0    dude joe bidens mouth looks suspiciously deep ...          0
1    funny way president praises unfounded claims e...          1
2    orange faced man utterly utterly clueless clim...          1
3    biden new president united states 2021 2025 co...          0
7                 trump biggest joke planet supporters          0
..                                                 ...        ...
495  dont put drug related criminals jail biden say...          1
496  stop go engineering weather stop chemtrailing ...          0
497  biden youre big liar trump yeah joe lie dont l...          0
498  corona planted china country beat everyone pun...          0
499  bible says wear wolves sheeps clothing point b...          0

[473 rows x 2 columns]

In [66]:
df["sentiment"] = df["sentiment"].astype(str).replace('0',"negative")
df["sentiment"] = df["sentiment"].astype(str).replace('1',"positive")

In [67]:
df

                                              comments sentiment
0    dude joe bidens mouth looks suspiciously deep ...  negative
1    funny way president praises unfounded claims e...  positive
2    orange faced man utterly utterly clueless clim...  positive
3    biden new president united states 2021 2025 co...  negative
7                 trump biggest joke planet supporters  negative
..                                                 ...       ...
495  dont put drug related criminals jail biden say...  positive
496  stop go engineering weather stop chemtrailing ...  negative
497  biden youre big liar trump yeah joe lie dont l...  negative
498  corona planted china country beat everyone pun...  negative
499  bible says wear wolves sheeps clothing point b...  negative

[473 rows x 2 columns]

In [68]:
file_path = ('youtube_comments1234.xlsx')
df.to_excel(file_path)

In [70]:
df = pd.read_csv("debate2.csv")

In [71]:
df

     Unnamed: 0                                           comments  sentiment
0             0                                  famous fly debate          1
1             1                                         trump 2020          0
2             2  climate gotten better becouse virus administra...          0
3             3             wow vice president listening susan sad          1
4             4                                 senator harris hot          1
..          ...                                                ...        ...
295         295                                  cant stand kamala          0
296         296  independent trump debate kamala mike total con...          0
297         297                                       pence hooray          0
298         298  comes across distorded mind values mine morals...          0
299         299  pence god witness greatest side stepper americ...          1

[300 rows x 3 columns]

In [72]:
df = df.drop(columns = "Unnamed: 0")

In [74]:
df = df.drop_duplicates()

In [75]:
df["sentiment"] = df["sentiment"].astype(str).replace('0','negative')
df["sentiment"] = df["sentiment"].astype(str).replace('1','positive')

C:\Users\Legion\AppData\Local\Temp\ipykernel_2068\2335679389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sentiment"] = df["sentiment"].astype(str).replace('0','negative')
C:\Users\Legion\AppData\Local\Temp\ipykernel_2068\2335679389.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sentiment"] = df["sentiment"].astype(str).replace('1','positive')

In [76]:
df

                                              comments sentiment
0                                    famous fly debate  positive
1                                           trump 2020  negative
2    climate gotten better becouse virus administra...  negative
3               wow vice president listening susan sad  positive
4                                   senator harris hot  positive
..                                                 ...       ...
295                                  cant stand kamala  negative
296  independent trump debate kamala mike total con...  negative
297                                       pence hooray  negative
298  comes across distorded mind values mine morals...  negative
299  pence god witness greatest side stepper americ...  positive

[289 rows x 2 columns]

In [77]:
file_path = ('youtube_comments12345.xlsx')
df.to_excel(file_path)

In [92]:
# Load the CSV files into separate DataFrames
df1 = pd.read_excel('youtube_comments12.xlsx')
df2 = pd.read_excel('youtube_comments123.xlsx')
df3 = pd.read_excel('youtube_comments1234.xlsx')
df4 = pd.read_excel('youtube_comments12345.xlsx')

# Concatenate the DataFrames along the rows (axis=0) to merge them vertically
merged_df = pd.concat([df1, df2, df3, df4], axis=0)

# Reset the index of the merged DataFrame to ensure continuous index
merged_df.reset_index(drop=True, inplace=True)

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('updated_merged.csv', index=False)

In [3]:
df = pd.read_csv("updated_merged.csv")

In [4]:
df.head()

                                             Comment Sentiment
0  this why mario better not be anything but mari...  negative
1  this series is terrible whoever wrote the stor...  positive
2  for me the music in this had me in tear remind...   neutral
3  i destroyed a planet i let the starship crew o...  negative
4  do you know why the hero of andor is a man bec...  positive

In [6]:
df.describe()

       Comment Sentiment
count     5406      5407
unique    5129         4
top          ❤  positive
freq        24      2819

In [8]:
df = df.dropna()

In [9]:
df.describe()

       Comment Sentiment
count     5406      5406
unique    5129         4
top          ❤  positive
freq        24      2819

In [22]:
file_path = ('udpated.csv')
df.to_csv(file_path)

In [23]:
df= pd.read_csv("udpated.csv")

In [24]:
df.head()

                                             Comment Sentiment
0  this why mario better not be anything but mari...  negative
1  this series is terrible whoever wrote the stor...  positive
2  for me the music in this had me in tear remind...   neutral
3  i destroyed a planet i let the starship crew o...  negative
4  do you know why the hero of andor is a man bec...  positive

In [28]:
df.describe()

       Comment Sentiment
count     5406      5406
unique    5129         4
top          ❤  positive
freq        24      2819

In [29]:
df["Sentiment"].value_counts()

positive    2819
neutral     1343
negative    1236
you            8
Name: Sentiment, dtype: int64

In [31]:
value_to_find = 'you'

# Filter rows where column 'C' has the specified value
rows_with_value = df[df['Sentiment'] == value_to_find]

# Display the rows containing the specified value
print(rows_with_value)

     Comment Sentiment
1501     ...       you
2112     ...       you
2409     ...       you
2871      ..       you
3019      ..       you
3217      ..       you
3375      ..       you
3485      ..       you

In [37]:
condition2 = df['Sentiment'] == 'you'

In [38]:
df = df[~condition2]

In [42]:
df["Sentiment"].value_counts()

positive    2819
neutral     1343
negative    1236
Name: Sentiment, dtype: int64

In [43]:
file_path = ('udpated_one.csv')
df.to_csv(file_path)

In [44]:
df = pd.read_csv("udpated_one.csv")

In [45]:
df.describe()

       Comment Sentiment
count     5398      5398
unique    5127         3
top          ❤  positive
freq        24      2819

In [47]:
df["Sentiment"].value_counts()

positive    2819
neutral     1343
negative    1236
Name: Sentiment, dtype: int64

In [2]:
df = pd.read_csv('Twitter_Data.csv')

In [3]:
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [4]:
df = df.drop_duplicates()

In [7]:
df["category"] = df["category"].replace(0,'neutral')
df["category"] = df["category"].replace(1,'positive')
df["category"] = df["category"].replace(-1,'negative')

In [8]:
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...  negative
1  talk all the nonsense and continue all the dra...   neutral
2  what did just say vote for modi  welcome bjp t...  positive
3  asking his supporters prefix chowkidar their n...  positive
4  answer who among these the most powerful world...  positive

In [9]:
df = df.dropna()

In [10]:
df.describe()

                                               clean_text  category
count                                              162969    162969
unique                                             162969         3
top     when modi promised “minimum government maximum...  positive
freq                                                    1     72249

In [11]:
file_path = ('udpated.csv')
df.to_csv(file_path)

In [15]:
# Load the CSV files into separate DataFrames
df1 = pd.read_csv('udpated.csv')
df2 = pd.read_csv('udpated_one.csv')


# Concatenate the DataFrames along the rows (axis=0) to merge them vertically
merged_df = pd.concat([df1, df2], axis=0)

# Reset the index of the merged DataFrame to ensure continuous index
merged_df.reset_index(drop=True, inplace=True)

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('updated_merged.csv', index=False)